body {
  background-color: #f8f9fa;
}

.form-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #485664;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container .form-group {
  margin-bottom: 20px;
}

.form-container .btn-primary {
  width: 100%;
}

.form-container .text-center {
  margin-top: 10px;
}

.img-responsive {
  max-width: 100%;
  display: block;
  height: auto;
}

.img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome-title {
  margin-bottom: 10px;
}

.form-container {
  margin-top: 10px;
}
